body{
  background-image: url(images/Website-Design-Background.png);
  width: auto;
  height: auto;
}
.signup-box{
  width: 360px;
  height: 600px;
  margin: auto;
  border-radius: 3px;
}

.h1{
  text-align: center;
  padding-top: 15px;
  font-style: italic;
  color:white;
}
p {
  text-align: center;
  padding-top: 15px;
  font-style: italic;
  font-size: 15px;
  color: white
} 


.label{
    font-size: 15px;
    text-align: center;
    color: white;
}

form{
  width: 300px;
  margin-left: 20px;

}

form label{
  display: flex;
  margin-top: 20px;

}

form input{
  width: 100%;
  padding: 6px;
  border: none;
  border: 1px solid gray;
  border-radius: 7px;
  outline: none;
}

input[type="submit"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: grey;
  color: white;
  font-size: 18px;
}

nav {
  background-color: rgba(128, 128, 128, 0.500);
  height: 20px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

a{
  color: white;
}

nav a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

@media (max-width: 320px){
  .signup-box{
    display: none;

  }
  input[type="button"]{
    width: 100%;
  }
  input[type="button"]{
    display: none;

  }
}